:root {
  --card-height: 130px;
  --card-width: calc(var(--card-height) * (6 / 4));

  --index: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  position: relative;
  transform: translate(
    calc(var(--card-height) / 2 * -1),
    calc(var(--card-height) / 2 * -1)
  );
}

.card {
  --rot-base: -45deg;
  --rot-deg: calc(var(--rot-base) + var(--index) * 10deg);
  --h-deg: calc(315 - var(--index) * 40);

  width: var(--card-height);
  height: var(--card-width);
  position: absolute;
  background-color: hsl(var(--h-deg), 100%, 60%);
  transform-origin: center 120%;
  z-index: calc(-0 - var(--index));
  animation: fanOut 1s ease-out forwards;

  &:nth-child(2) {
    --index: 1;
  }

  &:nth-child(3) {
    --index: 2;
  }

  &:nth-child(4) {
    --index: 3;
  }

  &:nth-child(5) {
    --index: 4;
  }

  &:nth-child(6) {
    --index: 5;
  }

  &:nth-child(7) {
    --index: 6;
  }

  &:nth-child(8) {
    --index: 7;
  }

  &:nth-child(9) {
    --index: 8;
  }
}

@keyframes fanOut {
  0% {
    transform: rotate(var(--rot-base));
  }
  100% {
    transform: rotate(var(--rot-deg));
  }
}
